
@model MvcProgram.Models.Product

@{
    ViewBag.Title = "新增商品" ;
}

<h1>@ViewBag.Title</h1>

@Html.AntiForgeryToken()
@using (Html.BeginForm("Create" ,"Product" ,FormMethod.Post))
{   <ul>
    <div>
        @Html.Label("商品名稱" )
        @Html.TextBox("Name" , null , new{ @class = "form-control" , required = "required"})
        @Html.ValidationMessageFor(m => Model.Name)
    </div>
    <div>
        @Html.Label("價格" )
        @Html.TextBox("price" , null , new { @class = "form-control" , required = "required"})
    </div>

    </ul>
    <input type="submit" value="提交">
}
<ul>

    <li>@Html.DisplayNameFor(m=> Model.Name)</li>
    <ul>@Html.DisplayFor(m=> Model.Name)</ul>

    <li>@Html.DisplayNameFor(m=> Model.price)</li>
    <ul>@Html.DisplayFor(m=> Model.price)</ul>
</ul>

